[defaults]
#ask_vault_pass = True
inventory = inventory.yml
interpreter_python = python3
roles_path = .ansible/roles
collections_paths = .ansible/collections
callback_enabled = community.general.profile_tasks
retry_files_enabled = False
host_key_checking = False
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True

[callback_default]
result_format = yaml
# needed on Debian server
allow_world_readable_tmpfiles = True

[privilege_escalation]
become_ask_pass = False
become = True
